.header {
    position: sticky;
    top: 0px;
    min-height: 80px;
    overflow: hidden;
    background: #FCD219;
}

.return {
    margin-top: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: #704E27;
    display: flex;
    justify-content: left;
    align-items: center; 
}

.arrow {
    max-height: 100%;
}

.title {
    display: inline-block;
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #4A341A;
}

.total {
    display: inline-block;
    margin-left: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #3AAB7A;
}

.subTitle {
    margin-top: 10px;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #704E27;
}

label {
    display:block;
    line-height:40px;
    height: 100%;
    width: 100%;
    /* -webkit-font-smoothing: antialiased;  */
    background: #FFFFFF;
    border: 2px solid #44C177;
    border-radius: 24px;
    box-sizing: border-box;
}

.menuImage {
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}


.menuName {
    /* font-family: 'Noto Sans CJK TC'; */
    margin: 0px 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #2D3748;
}

.menuIngredient {
    margin: 0px 10px 8px 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #4A5568;
}

input[type=checkbox] {
    display: none;
}

input:checked + label{
    background: #44C177;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    height: 140px;
    border: none;
    /* background: #3AAB7A; */
}

.triangle {
    display: inline-block;
    /* position: absolute; */
    /* bottom: 96px; */
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

.button {
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;

    background: white;
    width: 100%;
}

button {
    margin-top: 16px;
    margin-bottom: 16px;

    background: #44C177;
    border-radius: 16px;
    width: 80%;
    height: 64px;
    border: none;

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;

    color: #251A0D;
}

button:disabled, button[disabled=disabled] {
    background: #C99B65;
    color: #956834;
}